# 보안 설정 파일 무시
*.properties


# ▶ Java 빌드 파일 무시
*.class
*.war
*.jar

# ▶ Maven
/logs/
target/
build/
dependency-reduced-pom.xml

# ▶ Eclipse / STS 관련
.settings/
.project
.classpath

# ▶ OS 관련
.DS_Store
Thumbs.db

# ▶ IDE 관련
*.iml
.idea/
*.log

# ▶ 임시 파일
*.tmp
*.bak
*.swp

# ▶ 환경설정
.env
*.pem
*.key

# ▶ 기타 무시하고 싶은 항목 (예: 업로드된 이미지, 개인 설정 등)
upload/
